@import '../components';
@import '../pages';

.container,
.home-page,
.movie-page,
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
