.preview-movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 164px;
  color: white;

  .background-preview {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    filter: brightness(45%) blur(0.1px);
  }

  .preview-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 48px;
    z-index: 2;

    .left-col,
    .right-col {
      height: 500px;
      z-index: 3;
    }

    .right-col {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 24px;

      .movie-title {
        margin: 0;
      }
    }

    .preview-img {
      width: 400px;
      height: 550px;
      object-fit: cover;
      border-radius: 2px;
    }

    .preview-genre-list {
      display: flex;
      flex-direction: row;
      gap: 4px;
    }

    .vote-row {
      display: flex;
      justify-content: center;
      align-items: center;

      .vote-star-img {
        width: 35px;
        height: 35px;
        object-fit: cover;
      }

      .vote {
        margin-left: 4px;
        font-size: 18px;
        font-weight: bolder;
      }
    }

    .preview-overview {
      width: 500px;
      line-height: 2.2;
      word-spacing: 0.3em;
    }

    .info-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      width: 160px;
      height: 30px;
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
      border-radius: 8px;
      padding: 7px 12px;
      border: none;
      transition:
        box-shadow 0.2s ease 0s,
        -ms-transform 0.1s ease 0s,
        -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
      background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
      color: white;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.25s;
      }
    }
  }
}
