.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 42px);
  height: 105px;
  padding: 8px;
  color: white;
  z-index: 2;

  .title {
    margin-left: 8px;
  }

  .header-pfp {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    object-fit: cover;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      justify-content: center;
      align-items: center;

      .header-search {
        width: 210px;
        height: 18px;
        padding: 2px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
        color: white;
      }

      .search-img {
        width: 40px;
        height: 40px;
        margin-left: 8px;
        object-fit: cover;
      }
    }

    .list-btn,
    .movies-btn,
    .user-btn,
    .header-search,
    .home-btn {
      cursor: pointer;
    }

    .list-btn,
    .movies-btn,
    .user-btn,
    .home-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-width: 60px;
      max-width: 60px;
      margin: 8px;

      &:hover {
        transform: scale(1.05);
        transition: 0.25s;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .header {
    .title {
      font-size: 20px;
      margin: 0;
    }

    .header-list {
      .search {
        .header-search {
          width: 100px;
          height: 16px;
        }

        .search-img {
          width: 25px;
          height: 25px;
        }
      }

      .list-btn,
      .movies-btn,
      .user-btn,
      .home-btn {
        margin: 4px;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 535px) {
  .header {
    flex-direction: column;
    justify-content: center;

    .header-list {
      margin-top: 12px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .header {
    .title {
      font-size: 16px;
    }

    .header-list {
      .search {
        .header-search {
          width: 50px;
          height: 14px;
        }

        .search-img {
          width: 22px;
          height: 22px;
        }
      }

      .list-btn,
      .movies-btn,
      .user-btn,
      .home-btn {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .header {
    flex-direction: row;
    justify-content: space-around;

    .header-list {
      flex-direction: column;
    }
  }
}
