@import './components';

.login-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: calc(100vh - @footer-height - @header-height);

  .left-col,
  .right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .left-col-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 64px;

    .login-title {
      font-size: 64px;
    }

    hr {
      width: 320px;
      margin: 0 0 32px 0;
    }
  }
}
