.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 32px);
  height: 105px;
  background-color: #151515;
  color: white;
  border-top: 4px solid #272727;
  margin-top: 48px;
  padding: 16px;

  .footer-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 56px;

    .footer-text {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 475px) {
  .footer {
    height: 15px;
    padding: 12px;
    justify-content: center;

    .footer-col {
      flex-direction: row;
      justify-content: center;
      margin: 0;

      h2 {
        font-size: 18px;
        margin: 0;
      }

      .footer-text {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 12px;
        margin-left: 8px;
        margin-bottom: 2px;
      }
    }
  }
}
