.user-page {
  color: white;

  .user-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .icon {
        width: 120px;
        height: 120px;
        object-fit: cover;
      }

      .username {
        font-size: 36px;
      }
    }
  }
}
